.container {
    border: 1px solid #4350af;
    width: 100%;
    flex: 1;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.labelContainer {
    font-size: medium;
    justify-content: space-between;
    display: flex;
    margin: 5px;
    color: gray;
}

.menuIcon {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.taskLabel {
    display: flex;
    flex: 3;
}

.timeLabel {
    font-size: small;
    text-align: right;
    flex: 1;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    margin: 2px;
}

.button {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.image {
    width: 15px;
    height: 15px;
}
